[Unit]
ConditionPathExists=
ConditionPathExists=!/etc/machine-id

[Service]
ExecStart=
ExecStart=/usr/bin/systemd-firstboot --prompt
ExecStartPost=/usr/bin/systemd-firstboot-rpi4
StandardInput=tty
StandardOutput=tty
StandardInput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=
WantedBy=sysinit.target
