[Service]
ExecStart=
ExecStart=/usr/bin/systemd-firstboot --prompt
ExecStartPost=/usr/bin/systemd-firstboot-rpi4

[Install]
WantedBy=
WantedBy=sysinit.target
